.word1{
    font-size: 40px;
    color: white;
  }
  .word2{
    font-size: 22px;
    color: white;
  }
  .card {
  position: relative;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: auto;
  transition: transform 0.3s zoom-out; /* Add a smooth transition effect */
}

.card:hover img {
  transform: scale(1.1); /* Adjust the scaling factor as needed */
}

.card-content {
  /* Additional styling for the card content */
}

.card-button{
  transition: ease-out;
}
.card:hover button{
  transform: scale(0.9);
}
.hovers{
    color: #232834;
}

.hovers:hover{
    transform: scale(1.1);
    background-color: #232834;
    color: white;
}

.review-card{
    transition: transform 0.3s zoom-out;
}
.review:hover #abc{
    transform: scale(0.9);
}
.review:hover #cde{
  transform: scale(1.1);
}